{namespace templates.mail}

/**
 * Account request submitted subject
 */
{template accountRequestSubmittedSubject}
  {@param username: string}
  {@inject brand: string}
  {$brand} account request: {$username}
{/template}